[Unit]
Description=MQTT System Stats Publisher
After=mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
User={{ ansible_user }}
ExecStart=/bin/bash {{ remote_dotfiles }}/rpi5b/scripts/mqtt-sysstat.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
