[Unit]
Description=IME State MQTT Publisher

[Service]
Type=simple
ExecStart={{ dotfiles_local }}/scripts/ime-mqtt-publisher.sh
Restart=always
RestartSec=5
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=default.target
