---
# roles/rpi_crontab - cron 排程

- name: Setup push-temp.sh cron (every minute)
  ansible.builtin.cron:
    name: "Push system metrics to Uptime Kuma"
    job: "{{ remote_dotfiles }}/rpi5b/scripts/push-temp.sh"
    minute: "*"
  tags: [crontab]

- name: Setup Pi-hole gravity update (daily 2am)
  ansible.builtin.cron:
    name: "Update Pi-hole blocklist"
    job: "pihole -g"
    hour: "2"
    minute: "0"
  tags: [crontab]

- name: Setup Pi-hole update (weekly Monday 3am)
  ansible.builtin.cron:
    name: "Update Pi-hole"
    job: "pihole -up"
    hour: "3"
    minute: "0"
    weekday: "1"
  tags: [crontab]
